<p id="notice"><%= notice %></p>

<p>
  <strong>Prenom:</strong>
  <%= @client.Prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @client.Nom %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @client.DateNaissance %>
</p>

<p>
  <strong>NAS:</strong>
  <%= @client.NAS %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @client.adress.NumeroCivique+" "+@client.adress.Rue+" "+@client.adress.Ville %>
</p>

<p>
  <strong>Nombre d'enfants:</strong>
  <%= @client.NombreEnfants %>
</p>

<p>
  <strong>Compte taxes proprietaire:</strong>
  <%= @client.CompteTaxesProprietaire %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
