<%= form_with(model: etude, local: true) do |form| %>
  <% if etude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etude.errors.count, "error") %> prohibited this etude from being saved:</h2>

      <ul>
      <% etude.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :SecteurEtudes %>
    <%= form.text_field :SecteurEtudes, id: :etude_SecteurEtudes %>
  </div>

  <div class="field">
    <%= form.label :Niveau %>
    <%= form.text_field :Niveau, id: :etude_Niveau %>
  </div>

  <div class="field">
    <%= form.label :DateDebut %>
    <%= form.datetime_select :DateDebut, id: :etude_DateDebut %>
  </div>

  <div class="field">
    <%= form.label :DateCompletion %>
    <%= form.datetime_select :DateCompletion, id: :etude_DateCompletion %>
  </div>

  <div class="field">
    <%= form.label :clients_id %>
    <%= form.text_field :clients_id, id: :etude_clients_id %>
  </div>

  <div class="field">
    <%= form.label :institutions_id %>
    <%= form.text_field :institutions_id, id: :etude_institutions_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
