<p id="notice"><%= notice %></p>

<h1>Etudes</h1>

<table>
  <thead>
    <tr>
      <th>Secteur d'etudes</th>
      <th>Niveau</th>
      <th>Date de debut</th>
      <th>Date de completion</th>
      <th>Client</th>
      <th>Institution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etudes.each do |etude| %>
      <tr>
        <td><%= etude.SecteurEtudes %></td>
        <td><%= etude.Niveau %></td>
        <td><%= etude.DateDebut %></td>
        <td><%= etude.DateCompletion %></td>
        <td><%= etude.client.Prenom+" "+etude.client.Nom %></td>
        <td><%= etude.institution.Nom %></td>
        <td><%= link_to 'Show', etude %></td>
        <td><%= link_to 'Edit', edit_etude_path(etude) %></td>
        <td><%= link_to 'Destroy', etude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etude', new_etude_path %>
