<p id="notice"><%= notice %></p>

<p>
  <strong>Secteur d'etudes:</strong>
  <%= @etude.SecteurEtudes %>
</p>

<p>
  <strong>Niveau:</strong>
  <%= @etude.Niveau %>
</p>

<p>
  <strong>Date de debut:</strong>
  <%= @etude.DateDebut %>
</p>

<p>
  <strong>Date de completion:</strong>
  <%= @etude.DateCompletion %>
</p>

<p>
  <strong>Client:</strong>
  <%= @etude.client.Prenom+" "+@etude.client.Nom %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @etude.institution.Nom %>
</p>

<%= link_to 'Edit', edit_etude_path(@etude) %> |
<%= link_to 'Back', etudes_path %>
