<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @employeur.Nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @employeur.adress.NumeroCivique+" "+@employeur.adress.Rue+" "+@employeur.adress.Ville %>
</p>

<%= link_to 'Edit', edit_employeur_path(@employeur) %> |
<%= link_to 'Back', employeurs_path %>
